In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("C:/Users/12036/Documents/data_hw4.csv")

In [32]:
df.head()
df

     Age Competition      Type Profit
0    Old         Yes  Software   Down
1    Old          No  Software   Down
2    Old          No  Hardware   Down
3    Mid         Yes  Software   Down
4    Mid         Yes  Hardware   Down
5    Mid          No  Hardware     Up
6    Mid          No  Software     Up
7   New          Yes  Software     Up
8   New           No  Hardware     Up
9   New           No  Software     Up
10   Mid          No  Hardware      ?

In [33]:
x_train = df.iloc[:,0:3]
y_train = df.iloc[:,3]

In [34]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from sklearn import tree

In [35]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for Age in x_train.columns:
    if x_train[Age].dtype == object:
        x_train[Age] = le.fit_transform(x_train[Age])
    else:
        pass

C:\Users\12036\AppData\Local\Temp/ipykernel_7208/1840127591.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[Age] = le.fit_transform(x_train[Age])

In [36]:
clf_tree=DecisionTreeClassifier(random_state=0,max_depth=3)
clf_fit=clf_tree.fit(x_train,y_train)

In [37]:
x_test=np.array([1,1,1])
x_test=x_test.reshape(1,-1)
predicted=clf_fit.predict(x_test)

In [38]:
print(predicted)

['Up']